# Ignore everything in this directory
*
# Except this file
!.gitignore
!datasets_generation.ipynb
!datasets_analysis.ipynb
!datasets_revision.ipynb
!datasets_preprocessing.ipynb
!authors_preprocessing.ipynb
!main.ipynb
!img